*, *::before, *::after{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}



// .events-section-header::after {
//    content: "";
//    display: block;
//    height: 0.4em;
//    width: 3.3em;
   // background-color: crimson;
//    border-radius: 2rem;
//    /* border: 2px solid black; */
//    margin: 0.25em 0 0 0;
//  }